@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="College Of Education Management Information System ">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>CEMIS - College Of Education Management Information System </title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/icomoon/style.css" rel="stylesheet">
    <link href="~/lib/uniform/css/default.css" rel="stylesheet" />
    <link href="~/lib/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Theme Styles -->
    <link href="~/css/space.min.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="Home-page">
        <div class="Home-page__abs">
            <div class="Home-page__topbar clearfix">
                <a href="#"><h3 class="Home-page__logo">CEMIS</h3></a>
                <a href="@Url.Action("Login" , "Account")" class="btn btn-primary Home-page__login">Log In</a>
                <a href="@Url.Action("Registration" , "Account")" class="btn btn-link Home-page__register">Enroll Student</a>
            </div>
        </div>
        <div class="Home-page__wrap">
            <div class="Home-page__row">
                <div class="Home-page__masthead">
                    <h3 class="Home-page__h1">
                        Transforming Teacher
                        Education and Learning
                    </h3>
                    <p class="Home-page__body-text">
                        College Education Management Information System (CEMIS) is an initiative of T-TELv that will be used to manage information on all 46 Public Colleges of Education to improve policy and planning, monitoring and evaluation and decision making, and strengthen accountability
                    </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>


    </div>


    <!-- Javascripts -->
    <script src="~/lib/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/uniform/js/jquery.uniform.standalone.js"></script>
    <script src="~/lib/switchery/switchery.min.js"></script>
    <script src="~/js/space.min.js"></script>
</body>
</html>
